html {
    background-image: url('/StuLancer_Traditional/images/caught-in-joy-ptVBlniJi50-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.supercontainer {
    margin: 1rem 30%;
    width: 550px;
    background-color: white;
    border-radius: 20px;
    border: rgba(234, 143, 7, 0.7);
    border-style: groove;
    margin-bottom: 1.5%;
}

.header {
    text-align: center;
}

input[type=radio] {
    visibility: visible;
}

form {
    padding: 5%;
}

#radio {
    color: rgba(234, 143, 7);
    margin: 4%;
    width: 40%;
    height: 100%;
    display: inline-block;
    border: solid rgba(234, 143, 7, 0.5);
    cursor: pointer;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
    font-size: larger;
    line-height: 2em;
    padding-top: 1%;
    transition: all 1.5s ease-out;
    margin-top: 1%;

}

#radio::first-line {
    font-size: large;
}

#radio:hover {
    background-color: rgba(234, 143, 7, 0.7);
    color: grey;
    box-shadow: 0px 5px 5px grey;
}

input[type=text] {
    width: 40%;
    height: 2rem;
    border-radius: 7px;
    padding-right: 0px;
    border: solid rgba(234, 143, 7, 0.8);
    border-width: 2px;
    font-size: 1.1rem;

}

input[type=password],
input[type=email] {
    width: 85%;
    height: 2rem;
    font-size: 1.1rem;
    margin-top: 3%;
    border-radius: 7px;
    border: solid rgba(234, 143, 7, 0.8);
    border-width: 2px;
}

button {
    color: white;
    background-color: rgba(234, 143, 7, 0.7);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    position: relative;
    box-shadow: 0px 10px 10px grey;
    transition: all 1s;

}

button:hover {
    top: 2px;
    transform: translateY(2px);
    box-shadow: 0px 10px 10px grey;
    color: grey;
    cursor: pointer;
}